.TodoItem {
    background-color: aquamarine;
    width: 290px;
    height: 270px;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}

.header{
    color: blue;
    text-align: center;
    margin-bottom: 5px;
}

.input-checkbox{
    transform: scale(1.5);
    vertical-align:middle;
    align-self: center;
    margin-right: 10px;
}

.input-text{
    margin-right: 5px;
    width: 150px;
    height: 25px;
}

.remove-button{
    width: 80px;
    height: 25px;
}

.add-button{
    vertical-align: bottom;
    margin-top: 10px;
    width: 80px;
    height: 25px;
}